body {
	background:none;
}
.sethome, .sethome2, #skinlist a, #cal .m a.clock, #calendar, .wrap02 ul li a, .wrap_main ul li a, .wrap_main ul li a span, a.reg, a.log_in, a.my5w, .bar_left, .bar_right, a.back {
	background: url(../images/images.gif)
}
a:link, a:visited {
	text-decoration:none;
	color:#000;
}
a:hover {
	text-decoration:underline;
	color:#f00;
}
a.active {
	font-weight:bold;
	color:#015bab;
}
#top {
	background-color:#fefefe;
	border:1px solid #e7edf5;
}
#header {
	border-bottom:3px solid #6dba2b;
}
#cal .date a {
	font-weight:bold;
	color:#015BAB;
}
#cal a:hover {
	color:#f00;
}
.wrap02 {
	border-bottom:1px solid #b2dd8c;
}
.wrap02 ul .cur a {
	color:#FFF;
}
.searchbox {
	border:1px solid #b2dd8c;
	background:url(../images/searchbg.jpg) repeat-x #fffff8 bottom;
	
}
#hot_words li a {
	color:#666;
}
#cate {
	border:2px solid #6dba2b;
	background-color:#fafff3;
}
#cate h2 {
	color:#58a119;
}
#cate h2 a:link,#cate h2 a:visited,#cate h2 a:hover{color:#58a119;}
#tool {
	background-color:#f7fbff;
}
#tool h2 {
	border-bottom:1px solid #eceff1;
}
.tool-title a {
	color:#178ac1;
	font-weight:normal;
}
#tool-tab li {
	background-color:#e7f5ff;
	border:1px solid #9cd5ff;
	color:#178ac1;
}
#tool-tab li.active {
	background-color:#f7fbff;
}
#tool-tab li#tool-tab-def.active {
	background-color:#f7fbff;
}
#tool-tab li#tool-tab4 {
	background-color:#e7f5ff;
}
#tool-tab li#tool-tab4.active {
	background-color:#f7fbff;
}
#tb {
	background-color:#f7fbff;
	border-bottom:1px solid #9cd5ff;
}
.plane .int_b, .plane .int {
	color:#015BAB;
}
.wrap_main {
	border-bottom:2px solid #5eb3fb;
}
.main_box {
	border:2px solid #6dba2b;
	background-color:#fefefb;
}
a.log_in, a.reg, a.my5w {
	color:#069;
}
.cate {
	border:2px solid #6dba2b;
}
.bg1 {
	background:#f5fceb;
}
.bg2 {
	background:#fefefb;
}
.cate th a:link, .cate th a:visited, .cate th a:hover {
	color:#874606;
	font-weight:normal;
	padding:0 6px;
}
.bottom_nav {
	border:2px #6dba2b solid;
	background-color:#fafff3;
}
.brow span a {
	color:#205001;
	font-weight:bold;
}
.brow a:link, .brow a:hover, .brow a:visited {
	color:#205001;
}
.brow p a {
	color:#205001;
}
.search_bottom {
	border:1px solid #9CD5FF;
	background:#e8f8fd;
}
.mzdh_bottom a:link, .mzdh_bottom a:visited, .mzdh_bottom a:hover {
	padding:0 6px;
	color:#4d739a;
}
#header_detail {
	border-bottom:none;
}
#main_detail a {
	color:#333;
}

#main_detail dt {
	border:1px solid #8ab78a;
	background-color:#e6f2e7;
}
#main_detail dt label {
	color:#333;
}
#main_detail h1,#main_detail h2 {
	color:#333;
}
#main_detail dd {
	border-left:1px solid #8ab78a;
	border-right:1px solid #8ab78a;
}
.bar_nav { background: url(../images/navbg_green.jpg) repeat-x;
	
}
.bar_nav_about {
	
	border-top:#8ab78a 1px solid;
	
}
.line_b {
	border-bottom:1px solid #bed7e5;
}
.yaoqiu {
	border:1px solid #8ab78a;
	background-color:#e6f2e7;
}
.tip {
	border:1px solid #8ab78a;
	background-color:#e6f2e7;
}
